.container{
    overflow: hidden;
}
.toggle-btn{
    display:none;
}

@media screen and (max-width:991px){
    h3{
        font-size: 1.5rem;
    }
    .toggle-btn{
        display: block;
    }
    .nav-links{
        display: none;
    }
    .example-area{
        flex-wrap: wrap;
        gap: 10px;
    }
    .example-card{
        width: calc(50% - 10px);
        height: 180px;
    }
}